body {
	text-align: center;
	background-color: #bcf2f4;
	font-family: Verdana;
}

h1 {
	font-family: Impact;
}

.square {
	height: 150px;
	width: 150px;
	border: 2px solid black;
	display: table-cell;
	text-align: center;
	font-size: 400%;
	padding-top: 30px;
	font-family: 'Sigmar One', cursive;
}

.container {
	height: 470px;
	width: 470px;
	border: 10px solid black;
}

#moveCount {
	color: red;
	font-size: 20px;
	font-family: 'Sigmar One', cursive;
}

#reset {
	margin-top: 30px;
}

#moveCount {
	color: red;
}

#num0, #num3, #num6 {
	border-left: none;
}

#num0, #num1, #num2 {
	border-top: none;
}

#num2, #num5, #num8 {
	border-right: none;
}

#num6, #num7, #num8 {
	border-bottom: none;
}